* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Open-sans;
  height: 100%;
}

/*COMMON STYLES*/
.heading {
  font-family: Inter, Open-sans;
  letter-spacing: 15px;
  margin-bottom: 4rem;
  font-weight: 700;
}

.subheading {
  font-family: Inter, Open-sans
}

.goldLine:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 10%;
  padding-top: 30px;
  border-bottom: 5px solid #cda131;
}

.blueSection {
  background-color: #23335d;
  color: #fff;
}

.whiteSection {
  color: #23335d;
}

.container-fluid {
  padding: 0;
}

/*////////////////////////////////////////////////////////////////////////////////*/
/*TOP BANNER SECTION*/
.bannerContainer {
  color: #ffffff;
  background-image: url("../Images/topBanner.jpg");
  height: 100%;
  padding: 0% 20%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.bannerContentContainer {
  text-align: center;
}

.bannerContentContainer p {
  font-size: 1.6rem;
  margin-bottom: 4rem;
}

.bannerLogo {
  margin-bottom: 3rem;
}

.bannerHeading {
  margin-bottom: 3rem;
  letter-spacing: normal;
  font-weight: normal;
}

.bannerLine {
  width: 20%;
  margin: 0 auto;
  border: none;
  border-top: 5px solid #cda131;
  opacity: 0.8;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/*NAVBAR SECTION*/
.navContainer {
  background-color: #23335d;
  color: #fff;
}

.navbar {
  padding: 0;
}

.navbar-toggler {
  border-color: rgba(255, 255, 255, 0) !important;
  /*DUDE JUST LISTEN TO THE STYLE*/
}

#navbarNav {
  justify-content: center;
}

.navbar-nav {
  height: 9rem;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.navBrandMobile {
  display: none;
}

.navbar-brand {
  margin-bottom: 20px;
  margin-right: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  text-decoration: none;
  color: #fff !important;
  /*Bootstrap really doesnt like being styled >.>*/
  font-family: Inter, Open-sans;
  transition: all 0.3s;
}

.nav-link:hover {
  transform: scale(1.2);
}

.navLinkRight {
  margin-right: 55px;
}

.navLinkLeft {
  margin-left: 55px;
}

.navLinklast {
  margin-right: 0;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/*ABOUT SECTION*/
.aboutContainer {
  background-image: url("../Images/AboutBackground.jpg");
  padding: 8% 10%;
}

.aboutContentContainer {
  text-align: center;
}

.aboutImage {
  width: 90%;
}

.aboutContentContainer h3 {
  font-weight: 700;
}

.aboutContentContainer span {
  font-size: 1.3rem;
  font-weight: normal;
  letter-spacing: 4px;
}

.aboutRow {
  text-align: justify;
}

.aboutContent {
  margin-top: 4.0625rem;
  padding: 0;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/*SERVICE SECTION*/
.servicesContainer {
  padding: 8% 15%;
}

.serviceContentContainer h2 {
  text-align: center;
}

.serviceContent {
  width: 70%;
  margin: 0 auto;
}

.serviceTitle h4 {
  font-size: 1.20rem;
}

.serviceBody p {
  font-size: 1.15rem;
}

.serviceText {
  margin-bottom: 3rem;
}

/*////////////////////////////////////////////////////////////////////////////*/
/*CONTACT SECTION*/
.contactContent {
  padding: 8% 15%;
  text-align: center;
  background-image: url("../Images/ContactBackground.jpg");
}

.contactContent p {
  font-weight: bold;
}

.contactEmail {
  color: #cda131;
  margin-bottom: 3.125rem;
}

.contactForm {
  text-align: left;
}

.contactFormGroup1 {
  display: flex;
  justify-content: space-between;
}

.contactFormGroup1 input {
  width: 49%;
}

.contactFormGroup3 {
  float: right;
}

input {
  border: none;
  border-bottom: 2px solid #23335d;
  color: #cda131;
  background: transparent;
  padding-bottom: 5px;
  margin-bottom: 15px;
  width: 100%;
}

input:focus {
  outline: none;
}

input::placeholder {
  color: #cda131;
}

.randomSum {
  width: 3.125rem;
  margin-right: 20px;
}

.contactFormButton {
  background-color: #cda131;
  color: #23335d;
  border: none;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  font-family: Inter, Open-sans;
}

/*/////////////////////////////////////////////////////////////////////////////*/
/*FOOTER SECTION*/
.footerContainer {
  padding: 3% 20%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerContainer p {
  margin: 0;
}

.footerContainer span {
  color: #cda131;
}

.hidden {
  display: none;
}

.messageContainer {
  margin: 5rem;
  position: absolute;
  box-shadow: 5px 5px 8px #888;
}

.alert {
  margin-bottom: 0;
}

/*//////////////////////////////////////////////////////////////////////////////*/
/*RESPONSIVE DESIGN SECTION*/
/*NAV STYLES FOR SMALL LAPTOPS*/
@media (max-width: 1280px) {
  .navbar-nav {
    height: auto;
    padding: 1rem 0;
  }

  .nav-item {
    margin-right: 0;
    margin-left: 1rem;
  }

  .navLinkRight {
    margin-right: 1rem;
  }
  .footerContainer{
    font-size: 0.8rem;
  }
}

/*RESPONSIVE STYLES FOR SMALL DEVICES*/
@media (max-width: 1023px) {

  /*GENERAL STYLES */
  .messageContainer {
    margin: 1rem;
  }

  .row {
    margin: 0;
    padding: 0;
  }

  .heading {
    margin-bottom: 1rem;
    letter-spacing: normal;
  }

  .goldLine:after {
    padding-top: 10px;
  }

  .subheading {
    margin-bottom: 1rem;
  }

  /*/////////////////////////////////////////////////////////////////////////////*/
  /*TOP BANNER SECTION*/
  .bannerContainer {
    padding: 0;
    display: flex;
    align-items: center;
  }

  .bannerContentContainer p {
    font-size: 1rem;
    margin-bottom: 4rem;
  }

  .bannerLogo {
    width: 100%;
  }

  /*/////////////////////////////////////////////////////////////////////////////*/
  /*NAVBAR SECTION*/
  .navContainer {
    padding: 0.5rem 0;
  }

  .navbar-nav {
    align-items: flex-start;
    height: auto;
  }

  .navBrandMobile {
    display: inline !important;
    margin-bottom: 0 !important;
    padding-left: 1rem;
  }

  .navBrandMobile img {
    width: 50%;
  }

  #navbarNav {
    justify-content: flex-start;
  }

  .navbar-brand {
    display: none;
  }

  .nav-item {
    margin-right: 0;
    margin-left: 1rem;
  }

  .nav-link {
    font-size: 0.6rem;
  }

  /*/////////////////////////////////////////////////////////////////////////////*/
  /*ABOUT SECTION*/
  .aboutContainer {
    padding: 8%;
  }

  .aboutContent {
    margin-top: 2.7rem;
  }

  .aboutRow {
    text-align: left;
  }

  .aboutImage {
    display: block;
    margin: 0 auto;
  }

  .aboutText {
    padding: 0;
  }

  /*/////////////////////////////////////////////////////////////////////////////*/
  /*SERVICES SECTION*/
  .servicesContainer {
    padding: 8%;
  }

  .serviceContent {
    margin: 2.5rem 0 0 0;
    width: 100%;
  }

  .serviceText {
    margin-bottom: 2rem;
  }

  .serviceTitle h4 {
    font-size: 1.2rem;
  }

  .serviceBody p {
    font-size: 1rem;
  }

  /*/////////////////////////////////////////////////////////////////////////////*/
  /*CONTACT SECTION*/
  .contactContent {
    height: 100%;
    background-size: cover;
    width: 100%;
    padding: 8%;
  }

  .contactFormGroup1 {
    display: initial;
  }

  .contactFormGroup1 input {
    width: 100%;
  }

  .contactFormGroup3 {
    float: none;
  }

  button {
    float: right;
  }

  /*/////////////////////////////////////////////////////////////////////////////*/
  /*FOOTER SECTION */
  .footerContainer {
    font-size: 0.5rem;
  }

  /*/////////////////////////////////////////////////////////////////////////////*/
